@model IEnumerable<BTL.Models.Khachhang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách khách hàng</h2>

<p>
    @Html.ActionLink("Thêm mới khách hàng", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SdtKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tuoi)
        </th>
        <th><label>Thao tác</label></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TenKH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaKH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SdtKH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Diachi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tuoi)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TenKH }) |
        @Html.ActionLink("Details", "Details", new { id = item.TenKH }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TenKH })
    </td>
</tr>
}

</table>
